*
{
    font-family: 'Poppins';
}

body
{
    padding: 0;
    margin: 0;
}

#header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 5px 10px;
}

#header h2 {
    /* display: inline-block; */
    flex: 2;
    margin: 0;
}

#header #search-bar 
{
    /* background-color: lightgray; */
    /* display: inline-block; */
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: lightgray;
}

#header #empty
{
    flex: 2;
}

#header #search-bar input
{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    background: transparent;
    padding-left: 40px;
}

#header #search-bar #searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#content {
display: flex;
}

#content aside {
flex: 2;
padding: 10px;
}

#content aside a {
display: block;
padding: 5px 10px;
text-decoration: none;
margin: 10px 0;
border-radius: 15px;
font-weight: 500;
text-align: center;
color: rgba(0, 0, 0, 0.7);
}

#content aside a:hover,
#content aside a.selected {
color: black;
background-color: rgba(0, 0, 0, 0.05);
}

#content #newsList {
flex: 5;
}

#content #newsList #topStoriesContainer .news-item {
text-decoration: none;
display: block;
border: 1px solid rgba(0, 0, 0, 0.14);
border-radius: 10px;
margin: 2rem 0;
padding: 5%;
transition: all 0.6s; 
color: black;
}

#content #newsList #topStoriesContainer .news-item:hover {
box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.25);
}

#content #newsList #topStoriesContainer .news-item .news-title {
font-size: 1.5rem;
font-weight: 500;
}

#content #newsList #topStoriesContainer .news-item .news-byline {
font-size: 0.75rem;
color: #444;
}

#content #newsList #topStoriesContainer .news-item .news-time {
font-size: 0.75rem;
color: #444;
}

#content #newsList #topStoriesContainer .news-item .news-time::before {
content: 'posted at ';
}

#content #newsList #topStoriesContainer .news-item .news-score {
color: rgba(10, 180, 13, 0.4);
}

#content #newsList #topStoriesContainer .news-item .news-score i {
margin-right: 1rem;
}

#content #weatherBar {
flex: 2;
}