* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.topbar {
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px;
  min-height: 50px;
  margin-bottom: 20px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff;

  #logo {
    flex: 1;
    font-weight: bold;
    font-size: 25px;
  }

  .search-container {
      position: relative;
      flex: 3;
      
    #searchBar {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        padding-left: 40px;
        font-size: 18px;
        border-radius: 15px;
        border: none;
        outline: none;
        ::placeholder {
        color: rgba(0, 0, 0, 0.5);
        }
    }
    i {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
  }

  #profileHolder {
    flex: 1;
  }
}

#content {
  display: flex;

  aside {
    flex: 2;
    padding: 10px;

    a {
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      margin: 10px 0;
      border-radius: 15px;
      font-weight: 500;
      text-align: center;
      color: rgba(0, 0, 0, 0.7);

      &:hover,
      &.selected {
        color: black;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  #newsList {
    flex: 5;

    #topStoriesContainer{
        .news-item {
            text-decoration: none;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.14);
            border-radius: 10px;
            margin: 2rem 0;
            padding: 5%;
            transition: all 0.6s;
            color: black;
        
            &:hover {
                box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            }

            .news-title {
                font-size: 1.5rem;
                font-weight: 500;
            }

            .news-byline {
                font-size: 0.75rem;
                color: #444;
            }

            .news-time {
                &::before {
                    content: 'posted at ';
                }
                font-size: 0.75rem;
                color: #444;
            }

            .news-score {
                color: rgba(10, 180, 13, 0.4);
                i {
                    margin-right: 1rem;
                }
            }
        }
    }
  }

  #weatherBar {
    flex: 2;
  }
}
